/*

.panel-threecol-33-34-33-stacked .panel-left{
  margin:0;
  padding:5px;
  background:#faf9f9;
}
.panel-threecol-33-34-33-stacked .panel-middle{
  margin:0;
  padding:5px;
  
}
.panel-threecol-33-34-33-stacked .panel-right{}


.light-bg{
  background:#faf9f9;
}

.pane-left{
 margin-right:5px;
}
.pane-middle{
  margin: 0 5px;
}
.pane-right{
  margin-left:5px;
}
.pane-right img{
  display:block;
  width:100%;
}*/



.whitebg{
  background:#faf9f9;
  margin:5px;
  padding:10px;
}

#ting-facet-browser li li, a, a:link, a:visited, a:active, ul.pager li a {
  color: #E62F96;
}
.form-required{
  color: #E62F96;
}
div.error {
  background: #E62F96;
}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: "Corbel","Trebuchet MS","Verdana","Tahoma",sans-serif
}
/* Apparently "IE 8 XP Prof ver 5.1" is missing the glyph for the
'password hidden dot' with the above font-family. Downgrading it to
something simpler.  */
input[type=password] {
  font-family: "Verdana", sans-serif
}
ul.pager{
  background:transparent;
}
