/* evil resets */
.panel-threecol-33-34-33-stacked .panel-left .view-article-list {
  width:auto;
  left:auto;
}
.panel-left .view ul li, .panel-left ul.item-list li, .panel-left .pane-library_feature_detail_list ul li{
  background:none;
  padding:0;
}
#event-list h3, .panel-middle .view-empty{
  margin:0;
  padding:0;
}


.panel-threecol-33-34-33-stacked .panel-right .panel-pane {
  margin:0 5px;
}
.panel-threecol-33-34-33-stacked .panel-right .panel-pane img{
  width:100%;
}
.panel-left .view, .panel-left .pane-library_feature_detail_list ul.item-list {
  position:static;
}


/* panels specific */
.panel-threecol-33-34-33-stacked,
.panel-twocol-left-stacked,
.panel-threecol-left-stacked-right,
.panel-threecol-left-stacked{
  padding:5px;
}

.panel-twocol-left-stacked .content-top{
  left:auto;
  margin:0;
  padding:0;
  background: transparent;
}
.ding-library-map {
  width: auto; /* why ooh why was this ever set? */
}
.panel-twocol-left-stacked .pane-library_map {
  padding:5px;
}

.panel-threecol-33-34-33-stacked .panel-left {
  background: transparent;
  width:50%;
  padding:0;
  border:0;
}
.panel-threecol-33-34-33-stacked .panel-middle {
  background: transparent;
  width:25%;
  padding:0;
  border:0;
}
.panel-threecol-33-34-33-stacked .panel-right {
  background: transparent;
  width:25%;
  padding:0;
  border:0;
  padding-top:5px;
}

.panel-twocol-left-stacked .content-left,
.panel-threecol-left-stacked-right .content-left,
.panel-threecol-left-stacked .content-left {
  width:75%;
  margin:0;
}
body.ding-ting-search .panel-twocol-left-stacked .panel-left {
  width:auto;
}
.panel-twocol-left-stacked .content-right,
.panel-threecol-left-stacked-right .content-right,
.panel-threecol-left-stacked .content-right {
  width:25%;
  margin:0;
  padding-top:5px;
}
.panel-twocol-left-stacked .content-right .panel-pane,
.panel-threecol-left-stacked-right .content-right .panel-pane,
.panel-threecol-left-stacked .content-right .panel-pane{
  margin:0 5px;
}
.panel-twocol-left-stacked .panel-left {
  width:auto;
}
.panel-twocol-left-stacked .panel-left .pane-node_content {
  margin:0;
}
.panel-twocol-left-stacked .panel-left .pane-node_content .content {
  margin:0;
}
.panel-threecol-left-stacked .content-top {
  left:0;
  padding:0;
  background: transparent;
}
.panel-threecol-left-stacked .panel-left {
  background: transparent;
}
.panel-threecol-left-stacked .panel-left {
  width:66.66%;
}
.panel-threecol-left-stacked .panel-middle {
  width:33.33%;
}
.panel-threecol-left-stacked .panel-middle .pane-topic_list {
  margin:0;
}

body.node-type-page .panel-threecol-left-stacked-right .content-left,
body.node-type-page .panel-threecol-left-stacked-right .content-middle {
  width: 720px;
}

body.node-type-page .panel-threecol-left-stacked-right .content-left .ding-box-wide,
body.node-type-page .panel-threecol-left-stacked-right .content-middle .ding-box-wide{
  width: 460px;
}


/* ding-box-pane */

.ding-box-pane{
  line-height:1;
  margin:0 5px 10px 5px;
  background: #FAF9F9;
  width:auto;
}

.contentarea .content-area-bg .ding-box-pane .panel-pane{
  background:transparent;
  width:auto;
  padding:10px;
  margin:0;
}
.ding-box-pane h3 {
  width:auto;
  border: 0;
}
.ding-box-pane ul {
  background: transparent;
  width:auto;
  padding:0;
}
.ding-box-pane ul li {
  width:auto;
  margin:0;
  padding:0;
}

/* search form resets */
#search{
  width:auto;
  height:auto;
  margin:0;
  color:inherit;
}

#ting-search-form div.example li {
    margin-left: 0;
}
/* backend resets */

.action-node-add .contentwrap, .action-node-edit .contentwrap{
  padding:10px 20px;
}
