body{
  background: #EEEDEB url('../images/bg-main.jpg') no-repeat bottom center;
}

#page {
  width:auto;
}

.toparea{
  padding-top:10px;
  background: #E5E2DF url('../images/bg-body-repeat.jpg') repeat top center;
}
.toparea .cfw{
  background: transparent url('../images/30overlay.png');
}
.toparea h1#site-name{
  margin:0;
  padding:0;
  height:auto;

}
.toparea h1#site-name a{
  background: transparent url('../images/logo.png');
  width:149px;
  height:46px;
}

.toparea #block-ding-library-user-account{
  float:right;
}
.toparea #block-ding-library-user-account #user-login-form{
  background:none repeat scroll 0 0 transparent;
 /* margin:0;*/
  padding:0;
}
.phmetropol-link{
  float:right;
  margin-right:0;
  margin:0;
  padding:0;
}
.toparea h2.phmetropol-link a{
  display:block;
  text-indent:-999em;
  background: transparent url('../images/phmetopol-dk.png');
  width:101px;
  height:43px;
}


/* top area adjustments */

.toparea h1#site-name{
  margin:20px 0 0 20px;
}

.toparea .phmetropol-link{
  margin: 20px 20px 0 0;
}
.toparea .search-label{
  margin-left:20px;
}
.toparea #ting-search-form{
  margin-left:20px;
}
.toparea #user-login-form{
  margin-right:20px;
}

.contentarea{
}
.content-area-bg{
  background: transparent url('../images/bg-main-shadow.png') no-repeat center bottom;
}
.content-shadow{
  height:10px;
  background: transparent url('../images/bg-main-shadow-bottom.png') no-repeat center bottom;
}
.contentarea .ribbon{
  background: #f8f8f8;
  border-bottom: 1px solid #cbc7c1;
}
.contentarea .ribbon #path{
  margin:0;
  padding:10px;
}
.contentarea .contentwrap{

  background: #e5e2df;
}


.menubar{
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #80786c;

  background: #c1b9a9; /* for non-css3 browsers */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1b9a9', endColorstr='#988e84'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#c1b9a9), to(#988e84)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #c1b9a9,  #988e84); /* for firefox 3.6+ */
}

.footer .blackend{
  background: #262626 url('../images/bg-body-repeat.jpg') repeat top center;
  color:#ffffff;
  font-size:0.8em;
}
.footer dl{
  padding: 20px 0;
}
.footer dd, .footer dt{
  display:block;
  float:left;
  line-height:1;
}
.footer dd{
  border-left:1px solid #CDCDCD;
  margin-left:11px;
  padding-left:10px;
}
.footer .logo{
  margin:0;
  padding:0;
  float:right;
  border:0;
  position:relative;
}
.footer .logo a{

  position:absolute;
  top:-5px;
  right:0;
  background:url("../images/phmetopol-dk-small.png") repeat scroll 0 0 transparent;
  display:block;
  height:21px;
  text-indent:-999em;
  width:50px;

}

.footer-menu{
  height:140px;
}


/* tabs styles */

.toparea ul.tabs{
  /*background: #E62F96;*/
 width:auto;
 float:right;
  padding: 0 20px 10px 20px;
  margin:0;
  border:0;
}
.toparea ul.tabs li a{
  margin-left:10px;
  margin-right:0;
  border:0;
}





/* panel panes */

.panel-pane{
  position:relative;
}

.panel-pane > h3{
  background:transparent !important;
  text-transform:inherit !important;
  font-size: 1.3em !important;
  margin:0;
  padding:0 0 10px 0 !important;
  border-bottom:1px solid #dfdcd9;
}
.panel-pane div.feed-icon{
  position:absolute;
  margin:0;
  top:0;
  right:0;
}
.panel-pane div.feed-icon a *{
  float:right;
  top:0;
  margin:0;
}
.panel-pane div.feed-icon a span{
  /*margin-top:4px;*/
 padding-right:4px;
  color:#3a7492;
  text-decoration:underline;
  text-transform:lowercase;
}
h1,h2,h3,h4,h5,h6{
  line-height:1;
}
.panel-pane .view-article-list p {
  margin-top:0;
}
.panel-pane h2 a{
  font-size:0.8em;

  color:#3a7492;
}
/*.panel-pane div.feed-icon a img{
  float:right;
}*/

.campaign-image {
  margin:0;
  overflow:visible;
  width:auto;
}
.campaign-image img{
  width:100%;
 height:auto;
}

/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;}

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#page {overflow:auto;
	padding-bottom: 190px;}  /* must be same height as the footer */

.footer {position: relative;
	margin-top: -190px; /* negative value of footer height */
	height: 190px;
	clear:both;}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:100%;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

*/

