body{
}

.toparea{
  padding-top:10px;
  background: #E5E2DF url('../images/bg-body-repeat.jpg') repeat top center;
}
.toparea .cfw{
  background: transparent url('../images/30overlay.png');
}
.toparea h1#site-name{
  margin:0;
  padding:0;
  height:auto;
  
}
.toparea h1#site-name a{
  background: transparent url('../images/logo.png');
  width:149px;
  height:46px;
}

.toparea #block-alma-user-account{
  float:right;
}

.phmetropol-link{
  float:right;
  margin-right:0;
  margin:0;
  padding:0;
}
.toparea h2.phmetropol-link a{
  display:block;
  text-indent:-999em;
  background: transparent url('../images/phmetopol-dk.png');
  width:101px;
  height:43px;
}


/* top area adjustments */

.toparea h1#site-name{
  margin:20px 0 0 20px;
}

.toparea .phmetropol-link{
  margin: 20px 20px 0 0;
}
.toparea .search-label{
  margin-left:20px;
}
.toparea #ting-search-form{
  margin-left:20px;
}
.toparea #user-login-form{
  margin-right:20px;
}


.contentarea{
  min-height:600px;
  background: #EEEDEB url('../images/bg-main.jpg') no-repeat bottom center;
}
.content-area-bg{
  background: transparent url('../images/bg-main-shadow.png') no-repeat center bottom;
}
.content-shadow{
  height:10px;
  background: transparent url('../images/bg-main-shadow-bottom.png') no-repeat center bottom;
}
.contentarea .ribbon{
  background: #f8f8f8;
  border-bottom: 1px solid #cbc7c1;
}
.contentarea .ribbon #path{
  margin:0;
  padding:10px;
}
.contentarea .contentwrap{
  
  background: #e5e2df;
}


.menubar{
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #80786c;
  background: -moz-linear-gradient(top, #c1b9a9, #988e84);
}

.footerarea{
  background: #262626 url('../images/bg-body-repeat.jpg') repeat top center;
  color:#ffffff;
  font-size:0.8em;
}
.footerarea dl{
  padding: 20px 0;
}
.footerarea dd, .footerarea dt{
  display:block;
  float:left;
  line-height:1;
}
.footerarea dd{
  border-left:1px solid #CDCDCD;
  margin-left:11px;
  padding-left:10px;
}
.footerarea .logo{
  margin:0;
  padding:0;
  float:right;
  border:0;
  position:relative;
}
.footerarea .logo a{
  
  position:absolute;
  top:-5px;
  right:0;
  background:url("../images/phmetopol-dk-small.png") repeat scroll 0 0 transparent;
  display:block;
  height:21px;
  text-indent:-999em;
  width:50px;

}



/* tabs styles */

.toparea ul.tabs{
  /*background: #E62F96;*/
 width:auto;
 float:right;
  padding: 0 20px 10px 20px;
  margin:0;
  border:0;
}
.toparea ul.tabs li a{
  margin-left:10px;
  margin-right:0;
  border:0;
} 





/* panel panes */

.panel-pane{
  position:relative;
}

.panel-pane > h3{
  background:transparent !important;
  text-transform:inherit !important;
  font-size: 1.3em !important;
  margin:0;
  padding:0 0 10px 0 !important;
  border-bottom:1px solid #dfdcd9;
}
.panel-pane div.feed-icon{
  position:absolute;
  margin:0;
  top:0;
  right:0;
}
.panel-pane div.feed-icon a *{
  float:right;
  top:0;
  margin:0;
}
.panel-pane div.feed-icon a span{
  margin-top:4px;
  color:#3a7492;
  text-decoration:underline;
  text-transform:lowercase;
}
.panel-pane h2 a{
  font-size:0.8em;
  color:#3a7492;
}
/*.panel-pane div.feed-icon a img{
  float:right;
}*/
