body{
}

.toparea{
  padding:10px;
  background: #262626 url('../images/bg-body-repeat.jpg') repeat top center;
}
.toparea .cfw{
  background: transparent url('../images/30overlay.png');
  padding-top:20px;
}
.toparea h1#site-name{
  margin:0;
  padding:0;
  height:auto;
}
.toparea h1#site-name a{
  background: transparent url('../images/logo.png');
  width:149px;
  height:46px;
}



.contentarea{
  min-height:600px;
  background: #f2f1ef url('../images/content-bg.gif') repeat-x bottom center;
}
.contentarea .ribbon{
  background: #f8f8f8;
}
.contentarea .ribbon #path{
  margin:0;
  padding:10px;
}
.contentarea .contentwrap{
  border-top: 1px solid #cbc7c1;
  background: #e5e2df;
  padding:10px;
}


.menubar{
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #80786c;
  background: -moz-linear-gradient(top, #c1b9a9, #988e84);
}

.footerarea{
  background: #262626 url('../images/bg-body-repeat.jpg') repeat top center;
}
