#ting-search-form{
  background:none;
  margin:0;
  padding:0;
}

.search-label{
  color:#fff;
  font-size:1.4em;
  text-transform:uppercase;
  margin:15px 0 5px 0;
}


#ting-search-form label{
  position:absolute;
  top:0;
  left:0;
  color:#fff;
  background:none;
  margin:0;
  padding:5px;
}
#ting-search-form #edit-keys{
  margin:0;
  padding:4px;
}
#ting-search-form #edit-keys-wrapper{
  height:24px;
}

#ting-search-form .form-text{
  background:#646464;
  border: 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  width:95%;
}
#ting-search-form .form-image-button{
  /*position:absolute;
  top:0;
  left:0;*/
  display:block;
  float:none;
  height:auto;
  width:100%;
}
#ting-search-form .form-image-button .form-submit{
  position:absolute;
  right:19px;
  top:-21px;
  height:18px;
  padding:2px;
  background:#333;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
